/* Reset y fuentes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
nav {
  position: sticky;
  z-index: 1000;
    top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #504037;
  color: #fff;
}

nav .wordmark {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li {
  cursor: pointer;
  transition: 0.3s;
}

nav ul li:hover {
  text-decoration: underline;
}

/* SUBMENÚ */
.Menu-Vertical {
  display: none;
  position: absolute;
  background: white;
  list-style: none;
  padding: 5px;
  border-radius: 5px;
}

.Menu-Vertical li a {
  color: black;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

/* CONTENEDOR */
.contenedor {
  background: #f3f3f3;
  padding: 25px;
}

/* TÍTULO */
.barra-titulo {
  display: flex;
  align-items: center;
  background: #de7a27;
  color: white;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.flecha {
  font-size: 25px;
  margin-right: 15px;
}

.select-tipo {
  margin-left: auto;
}

/* TARJETAS */
.tarjeta {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.naranja {
  background: #de7a27;
  color: white;
}

.gris {
  background: #d6d6d6;
}

.bolita {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
}
